* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

article {
    float: left;
    width: 350px;
    height: 140px;
    background-color: #F7F3F3;
    margin: 10px;
}

article img {
    padding: 20px;
    width: 100px;
    float: left;
}

.datos-productos {
    float: right;
    padding: 20px;
    width: 190px;
    box-sizing: border-box;
}

.borrar {
    float: right;
    padding: 0 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: -10px;
    margin-left: 10px;
    cursor: pointer;
}

.nombre {
    float: right;
    font-weight: bold;
}

.precio {
    float: right;
    color: #666;
    font-size: 14px;
    margin: 5px 0;
    clear: both;
}

.colores {
    clear: both;
    float: right;
    text-align: right; 
}

.colores li {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%; 
    margin-left: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
    background-color: green; 
}

.colores li:nth-child(1) { background-color: red; }
.colores li:nth-child(2) { background-color: blue; }
.colores li:nth-child(3) { background-color: yellow; }
.colores li:nth-child(4) { background-color: saddlebrown; }
.colores li:nth-child(5) { background-color: darkviolet; }
.colores li:nth-child(6) { background-color: deeppink; }