* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    padding-top: 70px;
}

header {
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 70px;
    background-color: #F7F9FA;
}

header nav {
    max-width: 1024px;
    margin: 0 auto;
    height: 100%;
}

header img {
    float: left;
    padding: 18px 10px;
    height: 70px;
}

header ul {
    float: right;
    list-style: none;
    padding: 0px;
}

header li {
    list-style: none;
    padding: 0px;
    display: inline-block;
}

nav li a {
    display: inline-block;
    color: black;
    font-size: 1em;
    text-decoration: none;
    line-height: 70px;
    padding: 0 10px;
    transition: color 0.3s linear;
}

nav li a:hover {
    color: #5E5D6E;
}

.parallax {
    height: 650px;
    position: relative;
    overflow: hidden;
    background-image: url("img/paisaje.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 0;
}

.parallax-reyes {
    max-width: 200px;
    height: 401px;
    width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.parallax-text {
    position: absolute;
    top: 10px;
    right: 20px;
    font-style: italic;
    font-weight: bold;
    color: #333;
    z-index: 1;
}

.call-to-action {
    max-width: 700px;
    margin: 150px auto;
    padding: 0 30px;
    text-align: center;
}

.big {
    font-size: 1.1em;
    line-height: 1.5em;
}

h2,
p,
button {
    margin-bottom: 20px;
}

button {
    padding: 15px 40px;
    background-color: black;
    font-size: 1em;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.5s linear;
}

button:hover {
    background-color: #4A4959;
}

.info-box {
    background-color: #1C1D22;
    text-align: center;
    color: white;
    padding: 110px 0;
}

.info-box h2 {
    margin-bottom: 30px;
    font-size: 1.8em;
}

#flex-p {
    text-align: center;
    font-size: 0;
}

#flex-p > div {
    display: inline-block;
    vertical-align: top;
    padding: 30px;
    width: 100%;
    max-width: 300px;
    font-size: 16px;
}

#flex-p i {
    font-size: 3em;
    margin-bottom: 20px;
    color: white;
}

#flex-p p {
    line-height: 1.4em;
}

.articulos {
    padding: 60px 30px;
    text-align: center;
}

.articulos h2 {
    margin-bottom: 40px;
    font-size: 1.8em;
}

.articulos-contenido {
    text-align: center;
    max-width: 1024px;
    margin: 0 auto;
    font-size: 0;
}

.articulo {
    display: inline-block;
    vertical-align: top;
    min-width: 300px;
    max-width: 500px;
    width: calc(50% - 30px);
    margin: 0 15px 30px 15px;
    font-size: 16px;
}

.articulo img {
    max-width: 100%;
    height: auto;
}

.articulo p {
    margin-top: 15px;
    line-height: 1.4em;
    color: #333;
}

footer {
    background-color: black;
    text-align: center;
    padding: 60px 20px;
}

footer a {
    display: block;
    color: white;
    font-size: 1.8em;
    margin: 15px auto;
    text-decoration: none;
    transition: color 0.3s linear;
    width: max-content;
}

footer a:hover {
    color: #5E5D6E;
}

#btn-fixed {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 2;
    text-decoration: none;
}

.fa-whatsapp {
    color: green;
    font-size: 3em;
}

@media (max-width: 700px) {
    header {
        height: auto;
    }
    
    body {
        padding-top: 110px;
    }

    header img {
        float: none;
        display: block;
        margin: 0 auto;
        padding: 10px;
    }

    header ul {
        float: none;
        text-align: center;
        display: block;
        margin-bottom: 10px;
    }

    nav li a {
        line-height: normal;
        padding: 10px;
    }

    #flex-p > div {
        display: block;
        margin: 0 auto;
    }

    .articulo {
        display: block;
        width: 100%;
        margin: 0 auto 30px auto;
    }

    .parallax-reyes {
        max-width: 90%;
    }

    .call-to-action {
        margin: 80px auto;
    }
}